:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  display: relative;
}

.imgContainer {
  display: flex;
  flex-direction: column;
}

.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer h2 {
  font-size: 1.4rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;

}

footer button i {
  font-size: 1.3rem;
}

footer button:hover {
  opacity: 0.7;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;

  /* it will create shadow like thing in the footer */
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;

}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  transition-duration: 200ms;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.3rem;
}

.sidebarContents button:hover {
  opacity: 0.7;
}


@media (min-width:640px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    box-shadow: 0 0 40px 1px #030615;
  }

  .sidebarContents {
    margin: unset;
  }
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i {
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}
.sideBarDesDate{
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */